.filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
}

.filter:hover {
    filter: invert(71%) sepia(36%) saturate(697%) hue-rotate(158deg) brightness(110%) contrast(95%);
}

.filterGrey {
    filter: invert(84%) sepia(4%) saturate(1787%) hue-rotate(190deg) brightness(85%) contrast(91%);
}

.filterGrey:hover {
    filter: invert(71%) sepia(36%) saturate(697%) hue-rotate(158deg) brightness(110%) contrast(95%);
}

.fadeIn {
    animation: fadeIn 1s;
}

.fadeInSlow {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
